.git
.github
.idea
.vscode
.next
node_modules
.env
.env.*
!.env.example
Dockerfile*
docker-compose*.yml
docker-compose*.yaml
README.md
LICENSE
coverage
*.log
*.pem
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
